/* The Stack
-----------------------------------------------------------------------*/
.stack {
	--space: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: var(--space);
}
